/*importing poppins from google fonts*/
@import url('https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&family=Lora:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
}

html {
        font-family: Poppins, sans-serif;
        color: rgb(48, 47, 47);
}

body {
        background-color: #f2eded;
}

.input-box {
        background-color: #fff;
        width: 90%;
        max-width: 500px;
        border-radius: 5px;
        padding: 10px 20px;
        margin: 300px auto;
        display: flex;
        align-items: center;
        box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}

.input-box input {
        width: 100%;
        padding: 10px 0;
        border: none;
        outline: 0;
        font-size: 2em;
        color: #555;
}

.input-box img {
        width: 40px;
        cursor: pointer;
}